@import url(./colors.css);

*{
    top: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
.wrap-container{
    width: 100%;
    height: 100vh;
    background-image: url(../img/11-datos-rapidos-acerca-del-reciclaje-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    background-color: rgba(46, 46, 46, 0.4);
    padding: 25px;
    width: 100%;
    height: 100vh;
}   
.row{
    width: 98%;
    margin: auto;
}
.banner{
    background-color:transparent;
    margin-top: 20px;
}
.banner h1{
    font-size: 110px;
    line-height: 90px;
    justify-content: center;
    text-transform: uppercase;
    margin: 120px 25px;
    letter-spacing: 3px;
}

.content-login{
    margin-top: 20px;
    background-color: var(--white);
    border: 1px solid var(--border);
}
.panel{
    margin: auto auto;
    width: 96%;
}
.panel .panel-header{
    text-align: center;
    width: 100%;
    padding: 20px;
    color: var(--dark);
    font-weight: bold;
}

.panel .panel-header h3{
    color: #707070;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
}
.content-login .panel .panel-body{
    min-height: 400px;
    width: 100%;
    color: #707070;
    /* color: var(--dark); */
    margin-bottom: 25px;
    outline: none;
}

.panel-body .form-group{
    margin-bottom: 30px;
}
.form-group label{
    /* display: inline-block; */
    font-weight: 500;
    margin-bottom: .2rem;
    font-size:large;
}
.registro-container .panel-body .form-group{
    margin-bottom: 10px;
}

.group-buttons{
    margin-top: 40px;
    width: 100%;
    height: 20px;
    display: block;
    justify-content: space-between;
}
.group-buttons .btn{
    font-weight: bold;
    margin-bottom: 10px;
}

/* fin de login  */
/* Registrarse */
.registro-container{
    width: 100%;
    height: 120vh;
    background-image: url(../img/beach-4894534_1920.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
}
.header-registro{
    width: 80%;
    height: 110vh;
    padding-top: 10px;
    margin: auto;
    background-color: var(--white);
}
.registro-container .panel .panel-header{
    top: 1000px;
}
.registro-container .panel .panel-body{
    /* background-color: tomato; */
    margin: -10px 0;
}
.registro-container .group-buttons{
    margin-top: 25px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.registro-container .group-buttons .btn{
    font-weight: bold;
    margin-bottom: 10px;
}
.btn-indigo{
    background-color: var(--bs-indigo);
}

.others{
    color: #707070;
    margin-top: 30px;
}

