@import url(./colors.css);
*{
    top: 0;
    margin: 0;
}


h1,h2, h3 {
   color: #e48257; 
   font-weight: bold;
}

.navbar {
    background-color: var(--dark);
}
.navbar a {
    color: var(--light);
}
.navbar a:hover {
    color: var(--orange-light);
}

.dropdown .dropdown-menu .dropdown-item {
    color: var(--green);
}
