@import url(./colors.css);
*{
    top: 0;
    margin: 0;
}

body {
    background-color: #EBEBEB;
    color: #f2edd7 ;
}

h1,h2, h3 {
    color: #e48257; 
    font-weight: bold;
}

.navbar {
    background-color: var(--dark);
}
.navbar a {
    color: var(--light);
}
.navbar a:hover {
    color: var(--orange-light);
}

.navbar-toggler{
   color: var(--light);
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url(../img/menu.svg) !important;
}
.dropdown .dropdown-menu .dropdown-item {
    color: var(--green);
}