@import url(./colors.css);
*{
    top: 0;
    margin: 0;
}

body {
    background-color: #EBEBEB;
    color: #f2edd7 ;
}

h1,h2, h3 {
   color: rgb(102, 101, 101); 
   font-weight: bold;
}
.containerEst {
    padding: 0px;
}

.navbar {
    background-color: var(--dark);
}
.navbar a {
    color: var(--light);
}
.navbar a:hover {
    color: var(--orange-light);
}

.dropdown .dropdown-menu .dropdown-item {
    color: var(--green);
}
